{{#each fotball}}
    <li class="fotball-item">
    <h2  class="fotball-name">{{name}}</h2>
    <img class="fotball-img" src="{{image}}" alt="{{name}}">
    <p class="fotball-team">{{team}}</p>
    <p class="fotball-opened">{{position}}</p>
    <p class="fotball-opened">{{rating}}</p>
</li> 
  {{/each}}
 