{{#each stadium}}
    <li class="stadium-item">
    <h2  class="stadium-name">{{name}}</h2>
    <img class="stadium-img" src="{{image}}" alt="{{name}}">
    <h3 class="stadium-location">{{location}}</h3>
    <p class="stadium-team">{{team}}</p>
    <p class="stadium-opened">{{opened}}</p>
</li> 
  {{/each}}